<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @network_service.name %>
</p>

<%= link_to 'Edit', edit_network_service_path(@network_service) %> |
<%= link_to 'Back', network_services_path %>
